main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}

.newGame{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.board {
    display: grid;
    grid-template-columns: 12.5rem 12.5rem 12.5rem;
    grid-gap: 0px;
}

app-square {
    border-radius: 2px;
    border: 1px gray solid;
    height: 12.5rem;
}