<h1>Current Player: <span [ngStyle]="{'color': txtColor}"> &nbsp;{{player}}</span></h1>

<div class="newGame">
    <button nbButton outline status="danger" (click)="newGame()">Start new Game</button>
</div>

<h2 *ngIf="winner">
    <span [ngStyle]="{'color': winColor}"> Player {{ winner }}</span> &nbsp;won the game!
</h2>


<main>
    <div class="board">
        <app-square
            
            *ngFor="let val of squares; index as i"
            [value] = "val"
            (click)="makeMove(i)"
            (click)="getColor()"
        > 
        </app-square>
    </div>
</main>